/*hier kommt dein CSS Code um das Tennismatch zum Leben zu erwecken*/

body {
    background-image:url(./tenniscourt.png);
    position: relative;
    background-size: 90%;
    background-repeat: no-repeat;
}


.racket{
    position: relative;
    top: 700px;
    width: 500px;
    animation: racketleft 4s infinite;
}

@keyframes racketleft {
    0% {transform: rotateX(40deg);}
    20% {transform: rotateY(80deg);}
    0% {transform: rotateX(10deg);}
}

.ball{
    position: relative;
    top: 50px;
    left: 500px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    animation: ball 4s infinite;
}

@keyframes ball {
    0% {left: 600px; top: 150px; background-color: yellow;}
    50% {left: 3000px; top: 150px; background-color: green;}
    100% {left: 600px; top: 150px; background-color: yellow;}
 }


.racket-right{
    position: relative;
    top: 700px;
    left: 2500px;
    width: 500px;
    rotate: 270deg;
    animation: racketright 4s infinite;
    animation-delay: 2s;
}

@keyframes racketright {
    0% {transform: rotateX(40deg);}
    20% {transform: rotateY(80deg);}
    0% {transform: rotateX(10deg);}
}
