<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Example</title>
  </head>
  <body>
    <% for(i=0; i<5; i++) {{ %>
    <h1>Hallo, liebe Codersbay Schüler, mein Name ist <%= username %> </h1>
    <% }} %>
  </body>
</html>
