body{
    font-family: Arial, sans-serif;
    color: #ccc;
    background: linear-gradient(135deg, #153677, #4e085f);
}

h2{
    font-family: Arial, sans-serif;
    display: flex;
}
input[type="text"], input[type="password"] {
    width: 50%;
    padding: 12px;
    margin: 8px 0 10px;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto 20px;
}

button {
    background-color:darkmagenta;
    color: white;
    width: 50%;
    padding: 12px;
    margin: 8px 0 10px;
    display: flex;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto 20px;
    


}

button:hover {
    opacity: 0.8;
}
