body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

#idSpan {
  color:blue;
}


.tile-image{
  float: left;
  height: 200px;
}



.card{
  width: 40%;
}


.left{
  float: left;
}


.right{
  float: right;
}


@media (min-width: 400px) and (max-width: 600px){
  .right{
    clear: both;
    float: left;
  }



}




