


*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    height: 100%;
}

html{
    height: 100%;
}

.standard-container {
    max-width: 1080px;
    margin: 0 auto;
}



/*navbar styling*/
nav{
    background-color: rgb(42,42,42);
    overflow: hidden;
    min-height: 66px;
}

/*

#icon.material-symbols-outlined{
    font-size: 22px;
    color: white;
    position: absolute;
    right: 0px;
    padding: 22px;
    display: flex;
    border-bottom: 4px solid violet;
}*/

nav a{
    color: white;
    padding: 20px;
    display: flex;
    border-bottom: 4px solid violet;
    text-decoration: none;
    font-size: 22px;
}


.flex-nav{
    display: flex;
}

nav div ul li{
    list-style: none;
}

.flexOnMonitor ul{
    display: flex;
}

#icon{
    color: white;
}


@media screen and (max-width: 600px){

}





