body {

    background-color: rgb(51, 153, 255);


}

h1 {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    background-color: aquamarine;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


#zuErledigen {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

#hinzufügenbutton {
    box-shadow: 3px 4px 0px 0px #1564ad;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border-radius: 5px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;

    margin: 10px;
}

#hinzufügenbutton:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
}

#hinzufügenbutton:active {
    position: relative;
    top: 1px;
}

#textmanipulation {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    width: 250px;
    box-sizing: border-box;
    transition: border-color 0.3s;

}

div.task {
    display: flex;
    align-items: center;
    font-size: 24px;
}

input[type="checkbox"] {
    margin-right: 10px;

}

#textmanipulation:focus {
    border-color: #2980b9;
    outline: none;
}

.deleteButton {

    box-shadow: 3px 4px 0px 0px #1564ad;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border-radius: 5px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 3px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;

    margin: 10px;
}

.deleteButton:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
}

#bodyLogin {
    font-family: Arial, sans-serif;
    background-color: rgb(51, 153, 255);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#bodyregistrieren{
font-family: Arial, sans-serif;
background-color: rgb(51, 153, 255);
margin: 0;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

form {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border-color: 8782ad;
    background-color: lightblue;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}