h1{
    color: white;
}

.container{
    max-width: 500px;
    background-color: blueviolet;
    /*background-image: url(./images/backLogin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

.btnGoogle{
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    font-size: 1px;
}

.btnGoogle:hover{
    border: 1px solid black;
    background-color: black;
    color: white;
}

.btnInsert{
    padding: 0px;
    margin: 0px;
    font-size: 1px;
}




