body {
    background-color: rgb(26, 32, 37);
    /*background-image: url("Table.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    color: whitesmoke;
    text-align: center;
}

button {
    margin-top: 200px;
    background-color: greenyellow;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-inline: 20px;
}

button:hover {
    background-color: rgb(139, 206, 40);
}

img {
    width: 150px;
    margin: 10px;
}

#btn-draw,
#btn-hold {
    visibility: hidden;
}